# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
venv/

# Jupyter Notebooks checkpoints (if you ever add notebooks)
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# Sphinx build output
docs/build/

# OS files
.DS_Store